<table class="pagination">
    <tbody>
        <tr>
            <td colspan="6">
                <button (click)="previousPage()" [disabled]="currentPage() === 1">Previous</button>
                <span>Page {{ currentPage() }} of {{ totalPages() }}</span>
                <button (click)="nextPage()"  [disabled]="currentPage() === totalPages()">Next</button>
                
                <select (change)="onLimitChange($event)">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </td>
        </tr>
    </tbody>
</table>