.searchFilter{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 30px;
    margin: 20px auto;
    gap: 30px;

    label{
        margin-bottom: 5px;
        font-weight: bold;
        color: #000;
        font-size: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        width: 100%;
    }
    input{
        padding: 5px;
        border: 1px solid #ccc;
        outline: none;
        border-radius: 5px;
        width: 100%;
        &:hover{
            border: 1px solid #000;
        }
        &:focus{
            border: 1px solid #000;
        }

        &::-webkit-input-placeholder{
            color: #605c5c;
        }

        &::-moz-placeholder{
            color: #605c5c;
        }

        &:-ms-input-placeholder{
            color: #605c5c;
        }

        &::-ms-input-placeholder{
            color: #605c5c;
        }

        &::placeholder{
            color: #605c5c;
        }        
    }

    select{
        width: 100%;
        padding: 5px;
        border: 1px solid #ccc;
        outline: none;
        border-radius: 5px;
        &:hover{
            border: 1px solid #000;
        }
        &:focus{
            border: 1px solid #000;
        }
    }

    button{
        width: 100%;
        padding: 5px;
        border: none;
        background: #000;
        color: #fff;
        font-size: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        border-radius: 5px;
        cursor: pointer;
        &:hover{
            background: #3e3f46;
        }
    }
}