<div class="searchFilter">
    <input type="text"  id="fullName" placeholder="search by fullname" #fullName>
    <input type="text" id="email" placeholder="search by email" #email>
    <input type="text" id="phoneNumber" placeholder="search by phone number" #phoneNumber>
    <select name="status" id="status" #status>
        <option >Select Status</option>
        <option value="1">Active</option>
        <option value="0">Inactive</option>
    </select>
    <button (click)="searchUser(fullName.value, email.value, phoneNumber.value, +status.value)">Search</button>
</div>